* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Carme", sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "header header" "main sidebar" "footer .";
  grid-template-rows: 150px auto;
  justify-items: center;
  background-color: #f0f0f0;
  color: #3b3a30;
}

header {
  text-align: center;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "day-count title calendar";
  align-items: center;
  background-color: #eaece5;
  color: #3b3a30;
  width: 100vw;
}

main {
  padding: 20px;
  grid-area: main;
  width: 100%;
  height: 100vh;
}

.log {
  box-shadow: 0 8px 16px 0 #9fa9a3;
  overflow: hidden;
  border-radius: 5px;
  padding: 40px;
  grid-area: sidebar;
  position: sticky;
  height: 100vh;
  width: 100%;
  background-color: #3b3a30;
  color: #eaece5;
  top: 0;
  left: 0;
}

.title {
  grid-area: title;
}
.day-count {
  grid-area: day-count;
}
.calendar {
  grid-area: calendar;
}

.icon-grid {
  display: flex;
  width: 200px;
  align-content: center;
  justify-content: space-between;
  margin: auto;
}

.icon {
  width: 35px;
  height: 35px;
}

img {
  width: 150px;
  height: 150px;
}

label {
  width: 150px;
  padding: 5px;
}

.user-input {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

input {
  background-color: #ffffff;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 60%;
  padding: 7px;
  font-size: 14px;
}

button {
  margin-left: 5px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  padding: 7px 20px;
  margin: 3px;
  color: #ffffff;
  background-color: #5995da;
}

button:hover {
  background-color: #76aeed;
}

button:active {
  background-color: #407fc7;
}

.link-button {
  background: none;
  color: #5995da;
  border: none;
  padding: 0;
  font-size: 10px;
  /*border is optional*/
  border-bottom: 1px solid #76aeed;
  cursor: pointer;
}

.manual-input {
  margin: 20px;
  padding: 10px;
  background-color: #c0ded9;
}

.manual-input .user-input {
  justify-content: space-around;
}

.manual-input input {
  width: 20%;
}

.manual-input label {
  width: auto;
}

figure {
  margin: 10px 10px;
  padding: 5px;
  max-width: 300px;
  text-align: center;
  background-color: #e3e0cc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  overflow: hidden;
}

.search-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
}

figcaption {
  font-size: 0.8rem;
}

.faq {
  background-color: #c0ded9;
  padding: 40px;
}

.welcome {
  height: 100vh;
  width: 700px;
  margin: auto;
  padding: 40px;
}

h1 {
  color: #77a8a8;
  font-family: "Rouge Script", cursive;
  font-size: 40px;
  font-weight: normal;
  line-height: 48px;
  margin: 0 0 10px;
  text-align: center;
  text-shadow: 1px 1px 2px #082b34;
}

h2 {
  color: #3b3a30;
  font-family: "Julius Sans One", sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 32px;
  margin: 10px 0 10px;
  text-shadow: 1px 1px 1px #b2c2bf;
}

h3 {
  font-family: "Julius Sans One", sans-serif;
  line-height: 20px;
  margin: 20px 0 20px;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 10px;
}

nav {
  background-color: #9fa9a3;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #9fa9a3;
  overflow: hidden;
}

nav li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav .link {
  text-decoration: none;
  color: white;
}

nav li:hover {
  background-color: #3b3a30;
}

.log h2 {
  color: #fefbd8;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.hidden {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.not-hidden {
  padding: 0 18px;
  display: block;
  overflow: hidden;
  background-color: #f1f1f1;
}

li {
  list-style: none;
}
